<main>
    <div style="text-align: center; margin-bottom:50px; margin-top:50px">
        <h1>Change admin's Password</h1>
    </div>

    <form action="/admin/account/change-password/update" method="post">
        <div class="form-group" style="margin: auto; width: 35%; padding: 20px">
            <label for="curPassword">Enter your current password:</label>
            <input type="password" class="form-control" id="curPassword" name="curPassword"
                style="width: 500px; margin: auto;" required>
            <label for="typeInPassword">Enter your new password:</label>
            <input type="password" class="form-control" id="typeInPassword" name="typeInPassword"
                style="width: 500px; margin: auto;" required>
            <label for="confirmPassword">Re enter your new password:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                style="width: 500px; margin: auto;" required>
            <button type="submit" class="btn btn-success" id="Confirm" name="Confirm"
                style="margin-top: 20px; float:right;">Confirm</button>
        </div>

        {{#if alert}}
        <br /><br /><br /><br /><br />
        <div class="alert alert-{{alert.type}} alert-dismissible" style="width: 1000px; margin:auto; text-align:center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{alert.result}}!</strong> {{alert.username}} {{alert.message}}
        </div>
        {{/if}}
    </form>
</main>