
<main>
    <div style="text-align: center; margin-bottom:50px; margin-top:50px">
        <h1>Account Control</h1>
    </div>

    <form method="post" action="/admin/accounts/{{account._id}}/update">
        <div class="form-group" style="margin: auto; width: 35%; padding: 20px">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" style="width: 500px; margin: auto;" value="{{account.username}}"
                required>
            <label for="status">Status:</label>
            <select class="form-control form-control-sm" id="status" name="status" style="width: 500px;">
                <option disabled>
                    <-- Select account status -->
                </option>
                <option value="0">Active</option>
                <option value="1">Disable</option>
            </select>
            <button type="submit" class="btn btn-success" id="confirm" name="Confirm"
                style="margin-top: 20px; float:right;">Confirm</button>
        </div>
    </form>
</main>